/* ───── All Page ───── */



/* ───── Home Page ───── */

/* 日付 */
.largeDateText {
	font-size: 2rem !important;
	font-weight: bold;
}
/* 単価設定 */
.flexBoxPanel > div:first-child {
    width: 30%;
    text-align: center;
}
#container-zynas\.thancle---home--oneAndMonthPanel-content {
    background-color: rgb(180, 255, 255);
}
.labelMargin {
    margin-left: 0.3rem;
    margin-right: 1rem;
    line-height: 2.5;
}

/* テンプレート登録ボタン */
.flexBoxPanel > div {
    width: 100%;
}
.templateButtonPanel {
    text-align: right !important;
}
.templateButton {
    height: auto !important;
    width: 30%;
}
.templateButton > span {
    height: 2.5rem !important;
    text-align: center;
    align-items: center;
}

/* タスクリスト */
.taskPanel {
    text-align: center;
}
.taskLabel div:first-child {
    height: 3rem;
}
.taskLabel input:first-child {
    font-size: 2rem;
}
.taskLabel {
    margin: 1rem auto !important;
}

/* スタートボタン */
.startPanel {
    text-align: center;
}
.startButton {
    height: 4rem !important;
}
.startButton > span {
    height: 4rem !important;
    font-size: 2rem;
    text-align: center;
    align-items: center;
}
#container-zynas\.thancle---home--startButton-content {
    line-height: 2.5rem !important;
}



/* ───── TimeEntry Page ───── */

/* タスクリスト */
#container-zynas\.thancle---timeEntry--vBox > div {
    height: 4rem;
}
.hSub1 {
    width: 55%;
}
.hSub2 {
    width: 20%;
}
.hSub3 {
    width: 10%;
}
.hSub4 {
    width: 10%;
}
.hSub1 div:first-child,
.hSub2 div:first-child,
.hSub3 div:first-child,
.hSub4 div:first-child {
    width: 100%;
    padding-right: 2px;
    padding-left: 2px;
}
.measureLabel div:first-child {
    height: 3rem;
}
.measureLabel input:first-child {
    font-size: 1.5rem;
}
/* 再生停止ボタン */
 .measureToggleButtom {
    width: 100%;
}
.measureToggleButtom > span {
    height: 3rem !important;
    font-size: 1rem;
    text-align: center;
    align-items: center;
}